.wrapper
  .slider
    .body-icatch-image1
    .body-icatch-image2
    .body-icatch-image3
    .body-icatch-image4
  .body__new-tweet
    .body__new-tweet__title
      = link_to "NEW DIVE TWEETS", "#", class: "new-title", style: "text-decoration: none;"
    .body__new-tweet__container
      .body__new-tweet__container__box
      .body__new-tweet__container__box
      .body__new-tweet__container__box
      .body__new-tweet__container__box
      .body__new-tweet__container__box
      .body__new-tweet__container__box
      .body__new-tweet__container__box
      .body__new-tweet__container__box
  .body__new-user
    .body__new-user__title
      = link_to "NEW USERS", "#", class: "new-user", style: "text-decoration: none;"
    .body__new-user__container
      .body__new-user__container__box
      .body__new-user__container__box
      .body__new-user__container__box
      .body__new-user__container__box
      .body__new-user__container__box
      .body__new-user__container__box
      .body__new-user__container__box
      .body__new-user__container__box
