.wrapper__profile-edit{
  .profile-edit{
    width: 600px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px 0;
    background-color: #00a2d7;
    opacity: 0.8;
    .profile-edit__header{
      text-align: center;
      font-size: 25px;
      font-weight: bold;
      margin-top: 30px;
    }
    .profile-edit__main{
      text-align: center;
      .profile-edit__main__top{
        h3{
          margin-top: 5px;
        }
      }
      .profile-edit__main__inner{
        .form-group{
          display:inline-block;
        }
      }
    }
  }
}

.form-group-box{
  width: 400px;
  height: 40px;
  margin: 10px 0 10px 0;
  font-size: 14px;
}
.form-group__title{
  text-align: left;
  margin-left: 100px;
  font-size: 14px;
  font-weight: bold;
}
.formRequire{
  background-color: red;
  padding: 2px 3px;
  margin-left: 10px;
  font-weight:bold;
  color: white;
  font-size: 8px;
}
.profile-box{
  height: 160px;
  overflow: scroll;
}

.form-group__submit{
  margin: 20px;
  background-color: white;
  width: 20%;
  margin: 0 auto;
  margin-top: 30px;
  input{
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  font-size: 18px;
  font-weight: bold;
  }
}
