.footer
  %ul.footer__box
    %li.footer__box__news.border-line
      = link_to root_path, style: "text-decoration: none;" do
        > NEWS(developing)
    %li.footer__box__dive-shop.border-line
      = link_to root_path, style: "text-decoration: none;" do
        > Dive-Shop(developing)
    %li.footer__box__info.border-line
      = link_to root_path, style: "text-decoration: none;" do
        > Info(developing)
    %li.footer__box__about
      = link_to root_path, style: "text-decoration: none;" do
        > About(developing)
  .footer__copt-right ©︎ 2019 dive tweet
